*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #87ceeb;
}
header{
	position: sticky;
	top: 0;
	left: 0;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	transition: 0.5;
	background-color: #87ceeb;
}
header .navigation{
	list-style-type: none;
	position: relative;
}
header .navigation a{
	text-decoration: none;
	padding: 0px 20px;
	color: #000;
}
header .icon{
	color: #000;
	text-decoration: none;
}
header .icon span{
	font-size: 2em;
}
header li{
	display: inline;
	padding: 10px;
	text-align: center;
}
header ul .btn{
	background-color: #e7e7e7;
	border-style: double;
}
section{
	width: 100%;
	color: #29436e;
}
.continer .cols{
	display: flex;
	flex-flow: column;
	margin: 50px auto;
	flex-wrap: wrap;
	width: 60%;
}
.continer .c1{
	flex: 1;
	text-align: center;
}
.continer .c2{
	flex: 1;
	text-align: center;
	line-height: 4;
}
.continer .c3{
	flex: 1;
	text-align: center;
}
section h1{
	font-size: 5em;
	text-align-last: center;
}
section .btr1{
	padding: 20px;
	color: #214f9c;
	border-radius: 6px 6px;
	border: none;
	margin: 10px;
}
section .btr2{
	padding: 20px;
	color: #214f9c;
	border-radius: 6px 6px;
	border: none;
	margin: 10px;
}
section .btr1:hover{
	background-color: #214f9c;
	color: #fff;
	border-radius: 2px solid #214f9c;
}
section .btr2:hover{
	background-color: #214f9c;
	color: #fff;
	border-radius: 2px solid #214f9c;
}
.bord{
	border: 2px solid #fff;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
	color: #000;
	border-radius: 30px ;
}
.r{
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	flex-wrap: wrap;
	width: 75%;
	margin: 50px auto;
}
.r1{
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	margin: 30px auto;
}
.r .d1{
	opacity: 0.5;
	font-size: 1.5em;
}
.r1 .d2{
	flex: 1;
	font-size: 3em;	
	text-align: left;
}
.r .d3 {
	flex: 1;
	font-size: 1.5em;
	text-align: left;
	line-height: 1.5;
}
.r2{
	display: flex;
	flex: 1;
	margin: 30px 0;
}
.r2 .d4{
	display: flex;
	flex-flow: row;
	flex: 1;
}
.a1{
	display: flex;
	flex-flow: column;
	line-height: 1.5;
}
.a1 h2{
	font-size: 2.5em;
}
.a1 p{
	font-size: 1.5em;
}
.a1 a{
	font-size: 1.5em;
	text-decoration: none;
}
.r2 .d5{
	display: flex;
	flex-flow: row;
	flex: 1;
}
.r2 img{
	width: 200px;
	height: 200px;
}
.r3{
	display: flex;
	flex:1;
	margin: 30px 0;
}
.r3 .d6{
	display: flex;
	flex-flow: row;
	flex: 1;
}
.r3 .d7{
	display: flex;
	flex-flow: row;
	flex: 1;
}
.r3 img{
	width: 200px;
	height: 200px;
}
.n{
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	flex-wrap: wrap;
	width: 85%;
	margin: 50px auto;
}
.n .n1{
	padding: 10px;
	opacity: 0.5;
}
.n .n2{
	margin: 30px auto;
	font-size: 3em;
}
.n .n3{
	display: flex;
	flex-flow: row;
	margin: 30px auto;
}
.n3 img{
	width: 120px;
	height: 100px;
}
.n3 .d7{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.n3 .d8{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.n3 .d9{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.a2{
	display: flex;
	flex-flow: column;
	line-height: 2;
}
.a2 h2{
	font-size: 2em;
}
.a2 p{
	font-size: 1.3em;
}
.n .n4{
	display: flex;
	flex-flow: row;
	margin: 30px auto;
}
.n4 img{
	width: 120px;
	height: 100px;
}
.n4 .d10{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.n4 .d11{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.n4 .d12{
	display: flex;
	flex-flow: column;
	flex: 1;
}
.n .p{
	font-size: 1.5em;
	flex: 1;
	margin: 100px auto 0px auto;
	opacity: 0.5;
}
hr{
	opacity: 0.5;
}
.n .n5{
	display: flex;
	flex-flow: row;
	margin-top: 40px;
}
.n5 img{
	height: 100px;
	flex: 1;
	opacity: 0.5;
}
.n .n6{
	display: flex;
	flex-flow: row;
	margin-top: 40px;
}
.n6 .d13{
	flex: 0.5;
}
.d13 img{
	width: 100px;
	height: 50px;
}
.n6 .d14{
	flex: 1;
	display: flex;
	flex-flow: row;
}
.d14 .c1{
	flex: 1;
	line-height: 3;
}
.c1 h4{
	font-size: 1.5em;
}