*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
body{
	margin: 0 auto;
}
header{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999;
	display: flex;
	padding: 30px 0;
}
header .nav1{
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
}
header .nav{
	flex: 1;
	display: flex;
	flex-flow: row;
	list-style-type: none;
	justify-content: space-between;
}
header .icon{
	flex: 1;
	color: #f05d7a;
}
header .icon span{
	color: #5b43e3;
}
header .nav li a{
	text-decoration: none;
	color: #bdbdbe;
}
header .nav li a:hover{
	color: #8772ff;
}
header .nav2{
	display: none;
}
.nav1 i{
	display: none;
}
.header{
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
}
.h0{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
	width: min-content;
	padding: 50px 0;
}
.h1{
	flex: 1;
	font-size: 1.5em;
}
.h1 span{
	color: #f05d7a;
}
.h2{
	flex: 1;
	color: #272727;
	font-size: 4em;
}
.h3{
	flex: 1;
	font-size: 1em;
	color: #bdbdbe;
}
.h4{
	flex: 1;
	font-size: 1em;
	display: flex;
	flex-flow: row;
}
.h4 .h42{
	padding-top: 16px;
}
.h4 .h43{
	padding-top: 5px;
	margin-left: 20px;
	font-size: 2em;
}
.h43 a{
	color: #8475f4;
}
.h4 .btn{
	color: #fff;
	padding: 15px 40px;
	background-color: #8570fb;
	border-radius: 25px;
	border: none;
	letter-spacing: 1;
	font-size: 1em;
}
.h4 .btn1{
	margin-left: 30px;
	text-decoration: none;
	letter-spacing: 1;
	font-size: 1em;
	color: #8475f4;
}
.r{
	background-color: #fd587a;
	margin: 0 auto;
}
.r0{
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap: 30px;
	width: 960px;
	padding: 100px 0;
}
.r1{
	color: #fff;
}
.r2{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	gap: 70px;
}
.r2 .r3{
	flex: 1;
	color: #fff;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:50px;
}
.r3 h2{
	font-size: 2em;
}
.r3 p{
	font-size: 1em;
	line-height: 1.5;
	color: #ffe0e5;
}
.r3 .btn2{
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding-top: 8px;
}
.r3 .r31{
	display: flex;
}
.r3 span{
	margin-left: 20px;
	font-size: 2em;
}
.r3 span a{
	color: #fff;
}
.r2 .r4{
	flex: 1;
	color: #fff;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:50px;
	justify-content: center;
}
.r4 h2{
	font-size: 2em;
}
.r4 p{
	font-size: 1em;
	line-height: 1.5;
	color: #ffe0e5;
}
.r4 .btn3{
	font-size: 1.3em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.c{
	margin: 0px auto;	
	width: 1080px;
	display: flex;
	flex-flow: column;
}
.c1{
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:20px;
	padding: 100px 0;
}
.c1 .c2{
	margin: 0 auto;
	font-size: 1em;
	letter-spacing: 2px;
}
.c1 .c3{
	margin: 0 auto;
	font-size: 1.5em;
}
.c4{
	display: flex;
	flex-flow: row;
	gap:30px;
	margin: 0px auto;
	padding-top: 40px;
}
.c4 .c5 , .c6 ,.c7{
	line-height: 1.5;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:30px;
	padding: 20px;
	border:  1px solid #eeeef2;
	width: 300px;
	height: 300px;
}
.c5 h5{
	font-size: 1.5em;
}
.c5 a{
	text-decoration: none;
	color: #8475f4;
	text-transform: uppercase;
	padding-top: 8px;
}
.c51{
	display: flex;
}
.c51 span{
	margin-left: 10px;
	font-size: 1.5em;
}
.c4 :hover, .c6:hover a , .c5:hover a, .c7:hover a{
	background-color: #f05d7a;
	color: #ffe0e5;
}
.c6 h5{
	font-size: 1.5em;
}
.c6 a{
	color: #8475f4;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 8px;
}
.c61{
	display: flex;
}
.c61 span{
	margin-left: 10px;
	font-size: 1.5em;
}
.c7 h5{
	font-size: 1.5em;
}
.c7 a{
	color: #8475f4;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 8px;
}
.c71{
	display: flex;
}
.c71 span{
	margin-left: 10px;
	font-size: 1.5em;
}
.i1{
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:20px;
	padding: 50px 0;
}
.i1 .i2{
	margin: 0 auto;
	font-size: 1em;
	font-weight: bold;
}
.i1 .i3{
	margin: 0 auto;
	font-size: 2em;
	font-weight: bold;
}
.i1 .i4{
	margin: 0 auto;
}
.i4 .nav{
	list-style: none;
	display: flex;
	gap: 30px;
}
.i4.nav li{
	margin: 0 10px;
}
.i4 .nav li a{
	text-decoration: none;
	color: #bdbdbe;
}
.i4 .nav li a:hover{
	color: #8772ff;
}
.i5{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 auto;
	padding-top: 40px;
}

.i5 img{
	flex: 1;
	width: 400px;
}
.t1{
	display: flex;
	flex-flow: row;
	gap: 20px;
	padding: 100px 0;
}
.t4{
	flex: 0.5;
	display: flex;
	flex-flow: column;
	line-height: 1;
	gap: 20px;
}
.t4 h2{
	font-size: 2em;
}
.t4 p{
	font-size: 1em;
	line-height: 2;
	color: #bdbdbe;
}
.t5{
	flex: 1;
	position: relative;
	display: flex;
	flex-flow: row;
	gap: 50px;
	margin: 0 50px;
	padding-top: 40px;
}
.t6 ,.t9 ,.t12{
	flex: 1;
	display: flex;
	flex-flow: column;
	gap: 50px;
}
.t6 img, .t9 img, .t12 img{
	width: 100%;
	height: 100%;
}
.t6 i{
	position: absolute;
	top: 150px;
	left: 20px;
	font-size: 2em;
	color: #fd587a;
}
.t6 .t8,.t9 .t11,.t12 .t13{
	flex: 1;
	line-height: 2;
}
.t8 h3{
	font-size: 1em;
}
.t8 p{
	color: #bdbdbe;
}
.t9 i{
	position: absolute;
	top: 150px;
	left: 250px;
	font-size: 2em;
	color: #fd587a;
}
.t11 h3{
	font-size: 1em;
}
.t11 p{
	color: #bdbdbe;
}
.t12 i{
	position: absolute;
	top: 150px;
	left: 470px;
	font-size: 2em;
	color: #fd587a;
}
.t13 h3{
	font-size: 1em;
}
.t13 p{
	color: #bdbdbe;
}
.n1{
	margin: 0px auto;
	display: flex;
	flex-flow: row;
	gap:20px;
	width: 900px;
	padding-bottom: 100px;
}
.n1 img{
	flex: 1;
	width: 30px;
	height: 40px;
}
.a{
	margin: 0 auto;
	background-color: #f05d7a;
	color: #fff;
	padding: 100px 0 50px 0;
}
.a .a1{
	display: flex;
	flex-flow: column;
	gap:30px;
	margin: 0 auto;
	width: 1080px;
}
.a1 .a2{
	text-align:center;
	letter-spacing: 2px;
}
.a1 .a3{
	text-align:center;
}
.a1 .a3 h3{
	font-size: 2em;
}
.a1 .a4{
	text-align:center;
}
.a1 .a6{
	text-align: center;
}
.a6 p{
	color: #eeeced;
	letter-spacing: 2;

}
.a4 .btn{
	color: #fff;
	padding: 15px 40px;
	background-color: #8570fb;
	border-radius: 25px;
	border: none;
	letter-spacing: 1;
	font-size: 1em;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
	header .nav1{
		width: 85%;
	}
	.header{
		width: 85%;
	}
	.r .r0{
		width: 70%;
	}
	.c{
		width: 85%;
	}
	.c4{
		gap: 10px;
	}
	.c4 .c5 , .c6 ,.c7{
		width: 50%;
		gap: 10px;
		height: 30%;
	}
	.n1{
		width: 70%;
	}
	.a .a1{
		width: 85%;
	}
}
@media only screen and (max-width: 768px){
	header .nav1{
		width: 600px;
	}
	header .icon{
		flex: .6;
	}
	.header{
		width: 600px;
	}
	.h4 .btn{
		padding: 10px 20px;
	}
	.h4 .h42{
		padding-top: 10px;
	}
	.h4 .h43{
		padding-top: 0px;
	}
	.h42 .btn1{
		margin-left: 15px;
	}
	.r .r0{
		width: 530px;
	}
	.r .r2{
		flex-flow: column;
	}
	.c{
		width: 600px;
	}
	.c .c4{
		flex-flow: column;
	}
	.c4 .c5 , .c6 ,.c7{
		flex: 1;
		width: 400px;
		gap: 20px;
	}
	.i1 .i5{
		flex-flow: column;
		gap:30px;
	}
	.i5 img{
		width: 350px;
	}
	.t1{
		flex-flow: column;
	}
	.t1 .t5{
		margin: 0 auto;
		flex-flow: column;
		gap: 30px;
	}
	.t6,.t9,.t12 {
		flex-flow: row;
		gap: 25px;
	}
	.t5 .t61{
		width: 46%;
	}
	.t6 img,.t9 img,.t12 img{
		width: 70%;
	}
	.t6 i{
		top:187px;
	}
	.t9 i{
		top:380px;
		left: 20px;
	}
	.t12 i{
		top:560px;
		left: 20px;
	}
	.n1{
		width: 500px;
		gap: 10px;
		padding-bottom: 50px;
	}
	.n1 img{
		height: 30px;
	}
	.a .a1{
		width: 600px;
	}
}
@media only screen and (min-width: 376px) and (max-width: 767px){
	header{
		flex-flow: column;
	}
	header .nav1{
		width: 80%;
	}
	header .icon{
		flex: 1;
	}
	.nav1 .nav{
		display: none;
	}
	header .nav2{
		display: none;
	}
	.nav1 i{
		display: block;
		color: #5b43e3;
	}
	.nav2 .nav{
		flex-flow: column;
		align-items: center;
		gap: 10px;
    	margin: 0 auto;
    	width: 60%;
	}
	.header{
		width: 80%;
	}
	.h0 .h1{
		font-size: 1em;
	}
	.h0 .h2{
		font-size: 2.9em;
	}
	.h0 .h3{
		font-size: .7em;
	}
	.h41 .btn,.h42 .btn1{
		font-size: .8em;
	}
	.h4 .h43{
		padding-top: 6px;
		font-size: 1.5em;
		margin-left: 10px;
	}
	.r .r0{
		width: 70%;
	}
	.c{
		width: 80%;
	}
	.c .c1{
		padding: 50px 0;
	}
	.c4 .c5, .c6, .c7 {
    	width: 88.5%;
    	gap: 30px;
    }
    .i5 img {
    	width: 100%;
	}
    .t1{
    	padding: 50px 0;
    }
    .t12 i {
   		top: 92%;
	}
	.t9 i {
    	top: 60%;
	}
	.t6 i {
    	top: 27%;
	}
	.t6 img, .t9 img, .t12 img {
    	width: 80%;
    	height: 80%
	} 
    .n1{
    	width: 75%;
    }
    .n1 img {
    	height: 20%;
	}
	.a{
		padding: 50px 0 25px 0;
	}
	.a .a1{
		width: 80%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 999px){
	header .nav1{
		width: 80%;
	}
	header .icon{
		flex: .6;
	}
	.header{
		width: 80%;
	}
	.h4 .btn{
		padding: 10px 20px;
	}
	.h4 .h42{
		padding-top: 10px;
	}
	.h4 .h43{
		padding-top: 0px;
	}
	.h42 .btn1{
		margin-left: 15px;
	}
	.r .r0{
		width: 70%;
	}
	.r .r2{
		flex-flow: column;
	}
	.c{
		width: 80%;
	}
	.c .c4{
		flex-flow: column;
	}
	.c4 .c5 , .c6 ,.c7{
		flex: 1;
		width: 400px;
		gap: 20px;
	}
	.i1 .i5{
		flex-flow: column;
		gap:30px;
	}
	.i5 img{
		width: 350px;
	}
	.t1{
		flex-flow: column;
	}
	.t1 .t5{
		margin: 0 auto;
		flex-flow: column;
		gap: 30px;
	}
	.t6,.t9,.t12 {
		flex-flow: row;
		gap: 25px;
	}
	.t5 .t61{
		width: 46%;
	}
	.t6 img,.t9 img,.t12 img{
		width: 70%;
	}
	.t6 i{
		top:187px;
	}
	.t9 i{
		top:380px;
		left: 20px;
	}
	.t12 i{
		top:560px;
		left: 20px;
	}
	.n1{
		width: 500px;
		gap: 10px;
		padding-bottom: 50px;
	}
	.n1 img{
		height: 30px;
	}
	.a .a1{
		width: 80%;
	}
}
@media only screen and (max-width: 375px){
	header{
		flex-flow: column;
	}
	header .nav1{
		width: 300px;
	}
	header .icon{
		font-size: .8em;
	}
	.nav1 .nav{
		display: none;
	}
	.nav1 i{
		display: block;
		color: #5b43e3;
	}
	.nav2 .nav{
		flex-flow: column;
		align-items: center;
		gap: 10px;
		
	}
	header .nav2{
		display: none;
	}
	.nav1 i{
		display: block;
		color: #5b43e3;
	}
	.nav2 .nav{
		flex-flow: column;
		align-items: center;
		gap: 10px;
		
	}
	.header{
		width: 300px;
	}
	.h0{
		gap: 20px;
	}
	.h0 .h1{
		font-size: 1em;
	}
	.h0 .h2{
		font-size: 2.5em;
	}
	.h0 .h3{
		font-size: .8em;
	}
	.h41 .btn{
		font-size: .8em;
	}
	.h42 .btn1{
		font-size: .8em;
	}
	.h4 .h43{
		font-size: 1.5em;
		padding-top: 5px;
		margin-left: 10px;
	}
	.r .r0{
		width: 250px;
		gap: 20px;
		padding: 50px 0;
	}
	.r0 .r1{
		font-size: .8em;
	}
	.r0 .r2{
		gap: 40px;
	}
	.r2 .r3{
		gap: 20px;
	}
	.r2 .r3 h2{
		font-size: 1.5em;
	}
	.r2 .r3 p{
		font-size: .8em;
	}
	.r31 .btn2{
		font-size: 1em;
	}
	.r2 .r4{
		gap: 20px;
	}
	.r2 .r4 h2{
		font-size: 1.5em;
	}
	.r2 .r4 p{
		font-size: .8em;
	}
	.r31 .btn3{
		font-size: 1em;
	}
	.c{
		width: 300px;
	}
	.c .c1{
		padding: 50px 0;
	}
	.c1 .c2{
		font-size: .8em;
	}
	.c1 .c3{
		font-size: 1em;
	}
	.c4 .c5, .c6, .c7 {
    	width: 250px;
	}
	.c4 .c5 h5, .c6 h5, .c7 h5{
    	font-size: 1.2em;
	}
	.c4 .c5 p, .c6 p, .c7 p{
    	font-size: .8em;
	}
	.c5 .c51 a,.c6 .c61 a,.c7 .c71 a{
		font-size: .8em;
		padding-top: 11px;
	}
	.c5 .c51 span,.c6 .c61 span,.c7 .c71 span{
		font-size: 1.5em;
	}
	.i1{
		padding: 0;
	}
	.i1 .i2{
		font-size: .8em;
	}
	.i1 .i3{
		font-size: 1.5em;
	}
	.i4 .nav{
		font-size: .8em;
	}
	.i5 img{
		width: 200px;
	}
	.t1{
		padding: 50px 0;
	}
	.t4 h4, .t4 p{
		font-size: .8em;
	}
	.t4 h2{
		font-size: 1.5em;
	}
	.t1 .t5{
		gap: 40px;
	}
	.t6, .t9, .t12 {
    	gap: 15px;
	}
	.t6 img, .t9 img, .t12 img {
    	height: 50%;
	}
	.t8 p ,.t11 p,.t13 p{
    	font-size: .8em;
	}
	.t8 h3 ,.t11 h3,.t13 h3{
    	font-size: .8em;
	}
	.t6 i {
    	top: 122px;
    	font-size: 1.5em;
    	left: 15px;
	}
	.t9 i {
    	top: 340px;
    	left: 15px;
    	font-size: 1.5em;
	}
	.t12 i {
    	top: 560px;
    	left: 20px;
    	font-size: 1.5em;
	}
	.n1{
		width: 200px;
		padding-bottom: 25px;
	}
	.n1 img{
		height: 13px;
	}
	.a{
		padding: 50px 0 25px 0;
	}
	.a .a1{
		width: 300px;
	}
	.a1 .a2{
		font-size: .8em;
	}
	.a1 .a3 h3 {
    	font-size: 1.5em;
	}
	.a1 .a4 .btn{
		font-size: .8em;
		padding: 10px 20px;
	}
	.a5 h4{
		font-size: .8em;
	}
	.a6 p{
		font-size: .7em;
	}
}