*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
body{
	margin: 0 auto;
}
.header{
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
}
.header .nav1{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999;
	display: flex;
	padding: 20px 0;
}
.header .nav{
	flex: 1;
	display: flex;
	flex-flow: row;
	list-style-type: none;
}
.header .icon{
	flex: 1;
	color: #f05d7a;
}
.header .icon span{
	color: #5b43e3;
}
.header .nav li{
	flex: 1;
}
.header .nav li a{
	text-decoration: none;
	color: #bdbdbe;
}
.header .nav li a:hover{
	color: #8772ff;
}
.h0{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
	width: min-content;
	padding: 50px 0;
}
.h1{
	flex: 1;
	font-size: 1.5em;
}
.h1 span{
	color: #f05d7a;
}
.h2{
	flex: 1;
	color: #272727;
	font-size: 4em;
}
.h3{
	flex: 1;
	font-size: 1em;
	color: #bdbdbe;
}
.h4{
	flex: 1;
	font-size: 1em;
}
.h4 .btn{
	color: #fff;
	padding: 15px 40px;
	background-color: #8570fb;
	border-radius: 25px;
	border: none;
	letter-spacing: 1;
	font-size: 1em;
}
.h4 .btn1{
	margin-left: 30px;
	text-decoration: none;
	letter-spacing: 1;
	font-size: 1em;
	color: #8475f4;
}
.r{
	background-color: #fd587a;
	margin: 0 auto;
}
.r0{
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap: 30px;
	width: 960px;
	padding: 100px 0;
}
.r1{
	color: #fff;
}
.r2{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	gap: 70px;
}
.r2 .r3{
	flex: 1;
	color: #fff;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:50px;
}
.r3 h2{
	font-size: 2em;
}
.r3 p{
	font-size: 1em;
	line-height: 1.5;
	color: #ffe0e5;
}
.r3 .btn2{
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.r2 .r4{
	flex: 1;
	color: #fff;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:50px;
	justify-content: center;
}
.r4 h2{
	font-size: 2em;
}
.r4 p{
	font-size: 1em;
	line-height: 1.5;
	color: #ffe0e5;
}
.r4 .btn3{
	font-size: 1.3em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.c{
	margin: 0px auto;	
	width: 1080px;
	display: flex;
	flex-flow: column;
}
.c1{
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:20px;
	padding: 100px 0;
}
.c1 .c2{
	margin: 0 auto;
	font-size: 1em;
	letter-spacing: 2px;
}
.c1 .c3{
	margin: 0 auto;
	font-size: 1.5em;
}
.c4{
	display: flex;
	flex-flow: row;
	gap:30px;
	margin: 0px auto;
	padding-top: 40px;
}
.c4 .c5{
	line-height: 1.5;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:30px;
	padding: 20px;
	border:  1px solid #eeeef2;
	width: 300px;
	height: 300px;
}
.c5 h5{
	font-size: 1.5em;
}
.c5 a{
	text-decoration: none;
	color: #8475f4;
	text-transform: uppercase;
}
.c5 a:hover{
	color: #fff;
}
.c5:hover{
	background-color: #f05d7a;
	color: #fff;
}
.c4 .c6{
	line-height: 1.5;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:30px;
	padding: 20px;
	border:  1px solid #eeeef2;
	width: 300px;
	height: 300px;
}
.c6 h5{
	font-size: 1.5em;
}
.c6 a{
	color: #8475f4;
	text-decoration: none;
	text-transform: uppercase;
}
.c6 a:hover{
	color: #fff;
}
.c6:hover{
	background-color: #f05d7a;
	color: #ffe0e5;
}
.c4 .c7{
	line-height: 1.5;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:30px;
	padding: 20px;
	border:  1px solid #eeeef2;
	width: 300px;
	height: 300px;
}
.c7 h5{
	font-size: 1.5em;
}
.c7 a{
	color: #8475f4;
	text-decoration: none;
	text-transform: uppercase;
}
.c7 a:hover{
	color: #fff;
}
.c7:hover{
	background-color: #f05d7a;
	color: #fff;
}
.i1{
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap:20px;
	padding: 50px 0;
}
.i1 .i2{
	margin: 0 auto;
	font-size: 1em;
	font-weight: bold;
}
.i1 .i3{
	margin: 0 auto;
	font-size: 2em;
	font-weight: bold;
}
.i1 .i4{
	margin: 0 auto;
}
.i4 .nav{
	list-style: none;
	display: flex;
	gap: 30px;
}
.nav li{
	margin: 0 10px;
}
.nav li a{
	text-decoration: none;
	color: #bdbdbe;
}
.nav li a:hover{
	color: #8772ff;
}
.i5{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 auto;
	padding-top: 40px;
}

.i5 img{
	flex: 1;
	width: 400px;
}
.t1{
	display: flex;
	flex-flow: row;
	gap: 20px;
	padding: 100px 0;
}
.t4{
	flex: 0.5;
	display: flex;
	flex-flow: column;
	line-height: 1;
	gap: 20px;
}
.t4 h2{
	font-size: 2em;
}
.t4 p{
	font-size: 1em;
	line-height: 2;
	color: #bdbdbe;
}
.t5{
	flex: 1;
	position: relative;
	display: flex;
	flex-flow: row;
	gap: 50px;
	margin: 0 50px;
	padding-top: 40px;
}
.t6{
	flex: 1;
	display: flex;
	flex-flow: column;
	gap: 50px;
}
.t6 img{
	width: 100%;
	height: 100%;
}
.t6 .t8{
	flex: 1;
	line-height: 2;
}
.t8 h3{
	font-size: 1em;
}
.t8 p{
	color: #bdbdbe;
}
.t9{
	flex: 1;
	display: flex;
	flex-flow: column;
	gap: 50px;
}
.t9 img{
	width: 100%;
	height: 100%;
}
.t9 .t11{
	flex: 1;
	line-height: 2;
}
.t11 h3{
	font-size: 1em;
}
.t11 p{
	color: #bdbdbe;
}
.t12{
	flex: 1;
	display: flex;
	flex-flow: column;
	gap: 50px;
}
.t12 img{
	width: 100%;
	height: 100%;
}
.t12 .t13{
	flex: 1;
	line-height: 2;
}
.t13 h3{
	font-size: 1em;
}
.t13 p{
	color: #bdbdbe;
}
.n1{
	margin: 0px auto;
	display: flex;
	flex-flow: row;
	gap:20px;
	width: 900px;
	padding-bottom: 100px;
}
.n1 img{
	flex: 1;
	width: 30px;
	height: 40px;
}
.a{
	margin: 0 auto;
	background-color: #f05d7a;
	color: #fff;
	padding: 100px 0 50px 0;
}
.a .a1{
	display: flex;
	flex-flow: column;
	gap:30px;
	margin: 0 auto;
	width: 1080px;
}
.a1 .a2{
	text-align:center;
	letter-spacing: 2px;
}
.a1 .a3{
	text-align:center;
}
.a1 .a3 h3{
	font-size: 2em;
}
.a1 .a4{
	text-align:center;
}
.a1 .a6{
	text-align: center;
}
.a6 p{
	color: #eeeced;
	letter-spacing: 2;

}
.a4 .btn{
	color: #fff;
	padding: 15px 40px;
	background-color: #8570fb;
	border-radius: 25px;
	border: none;
	letter-spacing: 1;
	font-size: 1em;
}